h1 {
    color: red;
}

#main {
    margin-top: 5em;
}

body {
    font-family: sans-serif;
}

.books {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1em;
}

.books > a > p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.books > a > img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}