{% extends "base.html" %}
{% block main %}
<article>
	<h1>{{ title }}</h1>
	<p>Auteur : <a href="/author/{{ book.author_id }}">{{ book.author.name }}</a></p>
	<p>Prix : {{ book.price }}€</p>
	<p>Lien Amazon : <a href="{{ book.url }}">{{ book.url }}</a></p>
	<img src="{{url_for('static',filename='images/'+book.img)}}" />
</article>
{% endblock %}