{% extends "base.html" %}
{% block main %}
	<h1>{{ title }}</h1>
	<div class="books">
		{% for book in books %}
			<a href="book/{{ book.id }}">
				<img src="{{url_for('static',filename='images/'+book.img)}}" />
				<p>{{book.title}}</p>
			</a>
		{% endfor %}
	</div>
{% endblock %}